server
{
    server_names       sboof 
    listen             localhost:150
    
    root              www/server0/
    allow_methods     GET POST DELETE 

    
    autoindex on
    upload_path     ./somewhere/
     
    redirection    /laloli/ https://www.youtube.com/ 
    redirection    /PATH00/index.html /PATH01/index.html

    client_max_body_size 14
    
    cgi .php
    {
        cgi_path www/config/cgi/php-cgi
    }

    cgi .py
    {
        cgi_path /usr/local/bin/python3
    }

    location /PATH00/
    {
        client_max_body_size 12555
        root ./root/hangover-master/
        autoindex on
        allow_methods POST DELETE
        upload_path /somewhere/
        index.html /PATH00/index01.html
    }

    location /server0/
    {
        root ./root/
        autoindex on
        allow_methods POST GET
        upload_path ZZ
    }
    
  

    location /PATH00/jghjhj/
    {
        root ./root/roxy-master/
        autoindex on
        allow_methods GET
        index loc4/indexww.html
    }

    location /cocacola/
    {
        root ./root/
        autoindex off 
        client_max_body_size 1234
        upload_path ./upl_serv0
        allow_methods GET DELETE POST
        index o.html cocacola.html cocacola2.html
    }
    
    location /pepsi/
    {
        root ./root/EEEEEEEEEEEEEE
        autoindex on 
        client_max_body_size 1234
        allow_methods GET
        index indexpepsi.html indexpepsi2.html
    }
    
    autoindex
}